<nav>
  <ul>
    <li><a routerLink="/home"><button class="bigbutton"><span>Home</span></button></a></li>
    <li><a routerLink="/login"><button class="bigbutton"><span>Login</span></button></a></li>
    <li><a routerLink="/register"><button class="bigbutton"><span>Register</span></button></a></li>
    <li><a routerLink="/menu"><button class="bigbutton"><span>Menu</span></button></a></li>
    <li><a routerLink="/checkout"><button class="bigbutton"><span>Checkout</span></button></a></li>
    <li><a routerLink="/success"><button class="bigbutton"><span>Success</span></button></a></li>
    <li><a routerLink="/merchantWelcome"><button class="bigbutton"><span>Merchant Welcome</span></button></a></li>
    <li><a routerLink="/merchantMenu"><button class="bigbutton"><span>Merchant Menu</span></button></a></li>
    <li><a routerLink="/add-item"><button class="bigbutton"><span>Add Item</span></button></a></li>
    <li><a routerLink="/contactUs"><button class="bigbutton"><span>Contact Us</span></button></a></li>
  </ul>
</nav>

<!-- This is where the routed components will be displayed -->
<router-outlet>
  
</router-outlet>
